@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  overflow-x: hidden;
  background-color: rgb(240, 243, 245);
}

/* Nav */
.contNav{
  position: fixed;
  margin: auto;
  z-index: 1000;
}

.contenedor-futter{
  background-color: rgba(211, 211, 211, 0.397);
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;

}
.btn-estilo{
  width: 30px;
  height: 30px;
  background-color: beige;
  border-radius: 100%;
  margin-top: 9px;
  margin-bottom: 8px;
}


.contenedor-card-btn{
  background-color: rgba(224, 224, 224, 0.473);
  width: 220px;
  height: 170px;
  border-radius: 10px;
}
.contenedor-card-btn-sub{
  background-color: rgba(224, 224, 224, 0.473);
  width: 220px;
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;
}

@media (max-width: 820px){
  .cuadriculaBtn{
      width: 250px;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
    }
}